/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.about-section-box {
  padding: 70px 0px;
  background: #ffffff url(http://localhost:3000/images/about-bg.jpg) no-repeat
    bottom center;
  background-size: cover;
}
.about-section-box .img-fluid {
  box-shadow: -10px -10px 0px #457b9d;
}
.inner-column h1 {
  font-family: "Arbutus Slab", serif;
  font-size: 30px;
  color: #010101;
}
.inner-column h1 span {
  color: #457b9d;
}
.inner-column h4 {
  font-size: 16px;
  font-weight: 500;
}
.inner-column p {
  font-size: 18px;
}
