/*------------------------------------------------------------------
    Staff Section - Customer Reviews
-------------------------------------------------------------------*/

.customer-reviews-box {
  padding: 70px 0px;
}

.customer-reviews-box .carousel-inner .carousel-item .img-box {
  width: 135px;
  height: 135px;
}
.customer-reviews-box .carousel-control-prev {
  left: -100px;
}
.customer-reviews-box .carousel-control-next {
  right: -100px;
}
.customer-reviews-box .carousel-indicators {
  top: 320px;
}

.text-warning {
  color: #457b9d !important;
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
  .carousel-indicators {
    top: 400px;
  }
}

#reviews .carousel-control-prev {
  background: #457b9d;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  font-size: 28px;
  opacity: 1;
}
#reviews .carousel-control-prev:hover {
  background: #f1faee;
  color: #1d3557;
}

#reviews .carousel-control-next {
  background: #457b9d;
  color: #1d3557;
  display: block;
  position: absolute;
  width: 8%;
  height: 50px;
  top: 50%;
  font-size: 28px;
  opacity: 1;
}
#reviews .carousel-control-next:hover {
  background: #f1faee;
  color: #1d3557;
}
